<div class="page-header">
    <h1>消息中心</h1>
    <% if params[:box] == "out" %>
        <%= link_to "收件箱", messages_path, :class=>"btn secondary"%>
    <% else %>
        <%= link_to "发件箱", outbox_path, :class=>"btn secondary"%>
    <% end %>
    <% if admin_user? %>
    <%= link_to "全部", messages_all_path, :class=>"btn secondary"%>
    <% end %>
</div>
<% unless params[:box] == "out" %>
<div class="well">
<%= form_for(@message) do |f| %>
<fieldset>
    <div class="clearfix<%=' error' if f.object.errors.messages.has_key?(:msg)%>">
        <%= f.text_area :msg, {:size=>"200x5", :class=>"xxlarge"}%>
    </div>
    <div class="clearfix">
        <%= f.select :to_user_id, @users, {}, {:class=>"medium"} %>
        <%= f.submit "发送", :class=>"btn primary" %>
    </div>
</fieldset>
<% end %>
</div>
<% end %>
<ul class="unstyled">
    <% @messages.each do |message| %>
    <li class="msg <%='unread' if message.unread&&params[:box]!='out' %>" tabindex="<%=message.id%>">
        <div class="row">
            <div class="span2">
                <% if message.auto %>
                    系统消息
                <% elsif params[:box] == "out" %>
                    <%= gravatar_for User.fetch(message.to_user_id), :size => 40 %><br/><%=User.fetch(message.to_user_id).name%>
                <% elsif params[:box] == "all" %>
                    <div class="row">
                        <div class="span3"><%= gravatar_for User.fetch(message.from_user_id), :size => 40 %><br/><%=User.fetch(message.from_user_id).name%></div>
                        <div class="span3"><%= gravatar_for User.fetch(message.to_user_id), :size => 40 %><br/><%=User.fetch(message.to_user_id).name%></div>
                <% else %>
                    <%= gravatar_for User.fetch(message.from_user_id), :size => 40 %><br/><%=User.fetch(message.from_user_id).name%>
                <% end %>
            </div>
            <div class="span12 alert-message block-message <%= message.unread ? 'success' : 'info'%>">
                <% if params[:box] == "out" && message.unread || admin_user? %>
                <%=link_to "x", message_delete_path(message), :class=>"close"%>
                <% end %>
                <p><%=simple_format(message.msg)%></p>
                <p class="pull-right"><%=message.created_at.strftime("%Y年%m月%d日 %X")%></p>
            </div>
        </div>
    </li>
    <% end %>
</ul>
<%= will_paginate :class=>"apple_pagination" %>