<section id="signup">
    <div class="page-header">
        <h1>注册</h1>
        <p>注册用户需要管理员激活才能登录</p>
    </div>
    <%= form_for(@user) do |f| %>
        <fieldset>
            <legend>用户注册表单</legend>
            <div class="row">
                <div class="span8">
                    <div class="clearfix">
                        <%= f.label :name, "姓名" %>
                        <div class="input"><%= f.text_field :name, :class=>"xlarge" %></div>
                    </div>
                    <div class="clearfix">
                        <%= f.label :email, "电邮" %>
                        <div class="input">
                            <%= f.email_field :email, :class=>"xlarge" %>
                            <span class="help-block">请输入可用邮箱地址以接收提醒邮件</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <%= f.label :password, "密码" %>
                        <div class="input"><%= f.password_field :password, :class=>"xlarge" %></div>
                    </div>
                    <div class="clearfix">
                        <%= f.label :password_confirmation, "再次输入密码" %>
                        <div class="input"><%= f.password_field :password_confirmation, :class=>"xlarge" %></div>
                    </div>
                </div>
                <div class="span8">
                    <%= render 'shared/error_messages', :object => f.object %>
                </div>
            </div>
            <div class="actions">
            <%= f.submit "注册", :class=>"btn primary"%>
            <div class="pull-right"><%= link_to "登录", signin_path, :class=>"btn success"%></div>
            </div>
        </fieldset>
    <% end %>
</section>
