<section id="expense">
    <div class="page-header">
        <h1>添加新<%=Constants::ExpenseTypes[@exp_type]%>报销</h1>
    </div>
    <%= form_for(@expense, :url => { :action => "create" }) do |f| %>
        <fieldset>
            <legend>报销单</legend>
            <div class="row">
                <div class="span10">
                    <% if @exp_type == 0 %>
                    <div class="clearfix">
                        <%= f.label :career, "职业" %>
                        <div class="input">
                            <%= f.select :career, @careers, {}, {:class=>"medium choose_career"} %>
                        </div>
                    </div>
                    <% end %>
                    <div class="clearfix<%=' error' if f.object.errors.messages.has_key?(:author)%>">
                        <%= f.label :author, (@exp_type == 0 ? "作者": "联系人") %>
                        <div class="input"><%= f.text_field :author, :class=>"xlarge" %></div>
                    </div>
                    <% if @exp_type == 0 %>
                    <div class="clearfix">
                        <%= f.label :realname, "真实姓名" %>
                        <div class="input"><%= f.text_field :realname, :class=>"xlarge" %></div>
                    </div>
                    <% end %>
                    <div class="clearfix">
                        <%= f.label :idcard, "身份证"%>
                        <div class="input"><%= f.text_field :idcard, :class=>"xlarge" %></div>
                    </div>
                    <div class="clearfix">
                        <%= f.label :address, "地址"%>
                        <div class="input"><%= f.text_field :address, :class=>"xlarge" %></div>
                    </div>
                    <div class="clearfix">
                        <%= f.label :email, "电邮"%>
                        <div class="input"><%= f.email_field :email, :class=>"xlarge" %></div>
                    </div>
                    <% if @exp_type == 0 %>
                    <div class="text_section">
                    <div class="clearfix">
                        <%= f.label :text_count, "字数" %>
                        <div class="input"><%= f.number_field :text_count, :default=>0, :class=>"small fee" %></div>
                    </div>
                    <div class="clearfix">
                        <%= f.label :fee_per_word, "稿酬(元/千字)" %>
                        <div class="input"><%= f.number_field :fee_per_word, :default=>0, :class=>"small fee" %></div>
                    </div>
                    </div>
                    <div class="image_section">
                    <div class="clearfix">
                        <%= f.label :pages, "张数" %>
                        <div class="input"><%= f.number_field :pages, :default=>0, :class=>"small fee" %></div>
                    </div>
                    <div class="clearfix">
                        <%= f.label :fee_per_page, "稿酬(元/张)" %>
                        <div class="input"><%= f.number_field :fee_per_page, :default=>0, :class=>"small fee" %></div>
                    </div>
                    </div>
                    <% end %>
                    <div class="clearfix<%=' error' if f.object.errors.messages.has_key?(:total_fee)%>">
                        <%= f.label :total_fee, "应付金额" %>
                        <div class="input"><%= f.number_field :total_fee, :class=>"xlarge" %></div>
                    </div>
                    <div class="clearfix">
                        <%= f.label :tax, "税额" %>
                        <div class="input"><%= f.number_field :tax, :class=>"small" %></div>
                    </div>
                    <div class="clearfix<%=' error' if f.object.errors.messages.has_key?(:paid)%>">
                        <%= f.label :paid, "实领金额" %>
                        <div class="input"><%= f.number_field :paid, :class=>"xlarge" %></div>
                    </div>
                    <div class="clearfix">
                        <%= f.label :bankno, "银行账号"%>
                        <div class="input"><%= f.text_field :bankno, :class=>"xlarge" %></div>
                    </div>
                    <div class="clearfix">
                        <%= f.label :bank, "开户行"%>
                        <div class="input"><%= f.text_field :bank, :class=>"xlarge" %></div>
                    </div>
                    <div class="clearfix">
                        <%= f.label :comment, "备注" %>
                        <div class="input"><%= f.text_area :comment, {:size=>"100x6", :class=>"xlarge"}%></div>
                    </div>
                </div>
                <div class="span6">
                    <%= render 'shared/error_messages', :object => f.object %>
                </div>
            </div>
            <div class="actions">
            <%= f.hidden_field :article_id, :value=>@article.id %>
            <%= f.hidden_field :exp_type, :value=>@exp_type %>
            <%= f.submit "提交", :class=>"btn primary"%>
            </div>
        </fieldset>
    <% end %>
</section>
